<footer class="pt-5 pb-4">
    <div class="container text-center text-md-left">
      <div class="row text-center text-md-left">
        <!-- Logo Section -->
        <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
          <h5 class="text-uppercase mb-4 font-weight-bold">Logo</h5>
          <img src="assets/img/logo.png" width="150" alt="Logo">
        </div>
  
        <!-- Subscribe Form Section -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
          <h5 class="text-uppercase mb-4 font-weight-bold">Subscribe</h5>
          <form>
            <div class="form-group">
              <input type="email" class="form-control" placeholder="Enter your email">
            </div>
            <button type="submit" class="btn btn-primary">Subscribe</button>
          </form>
        </div>
  
        <!-- Useful Links Section -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
          <h5 class="text-uppercase mb-4 font-weight-bold">Useful Links</h5>
          <p><a routerLink="about-us" class="text-white">About Us</a></p>
          <p><a routerLink="contact-us" class="text-white">Contact Us</a></p>
          <p><a routerLink="return-policy" class="text-white">Return Policy</a></p>
          <p><a routerLink="track-order" class="text-white">Track Order</a></p>
        </div>
  
        <!-- Get in Touch Section -->
        <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
          <h5 class="text-uppercase mb-4 font-weight-bold">Get in Touch</h5>
          <p><i class="fas fa-home mr-3"></i> Your Address</p>
          <p><i class="fas fa-envelope mr-3"></i> email@example.com</p>
          <p><i class="fas fa-phone mr-3"></i> + 01 234 567 88</p>
          <p><i class="fas fa-print mr-3"></i> + 01 234 567 89</p>
        </div>
      </div>
  
      <hr class="mb-4">
  
      <!-- Social Media Section -->
      <div class="row align-items-center">
        <div class="col-md-7 col-lg-8">
          <p>© 2024 HealthMed. All rights reserved.</p>
        </div>
        <div class="col-md-5 col-lg-4">
          <div class="text-center text-md-right">
            <ul class="list-unstyled list-inline">
              <li class="list-inline-item">
                <a href="#" class="btn-floating btn-sm text-white"><i class="fab fa-facebook-f"></i></a>
              </li>
              <li class="list-inline-item">
                <a href="#" class="btn-floating btn-sm text-white"><i class="fab fa-twitter"></i></a>
              </li>
              <li class="list-inline-item">
                <a href="#" class="btn-floating btn-sm text-white"><i class="fab fa-google-plus-g"></i></a>
              </li>
              <li class="list-inline-item">
                <a href="#" class="btn-floating btn-sm text-white"><i class="fab fa-linkedin-in"></i></a>
              </li>
              <li class="list-inline-item">
                <a href="#" class="btn-floating btn-sm text-white"><i class="fab fa-instagram"></i></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </footer>
  